*,
::after,
::before {
    Padding: 0;
    Margin: 0;
    Box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:target::before {
  content: "";
  display: block;
  height: 140px; 
  margin-top: -140px;
}

body {
    background-color: var(--color1);
}

:root {
    --color1: #0A0A0A;
    --color2: #ffffff;
    --color3: #E50914;
    --color4: #FF9900;
    --color5: #2C2C2C;
    --font1: "Poiret One", sans-serif;
    --font2: "Lato", sans-serif;
    --font3: "Nobile", sans-serif;
}

/* header */
header {
    height: 20%;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    width: 100vw;
    gap: 5vw;
    position: fixed;
    z-index: 9999;
    /* pour mettre mon menu au dessus du div asso */
}

.logo_header img {
    width: 20vw;
    height: 100%;
}


h2 {
    color: var(--color2);
    width: 25vw;
    font-size: clamp(0.9em, 2.2vw, 2em);
    font-family: var(--font1);
    text-transform: uppercase;
    text-align: center;
}

nav {
    width: 40vw;
    text-align: center;

}

nav a {
    color: var(--color2);
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 0 1vw;
    
}
nav a:hover {
    color: var(--color4);
    font-size: 1.2em;
    transition: 0.5s;
}


/* main */

.main_page {
    height: 60vh;
    position: relative;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    width:60vw;
    }

.video_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    /* 🔑 équivalent de background-size: cover */
    z-index: -1;
}

.asso_presentation {
    background-color: #0a0a0a8a;
    margin: 40px;
    padding: 20px;
    border-radius: 20PX;
    border-left:1px solid var(--color2) ;
    border-top:1px solid var(--color2) ;
}

.asso_presentation p {
    color: var(--color2);
    text-align: center;
    line-height: 20px;
    padding: 5px;
}

.booking_buttun a {
    background-color: var(--color4);
    border-radius: 30px;
    box-shadow: 0 0 30px var(--color3);
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 150px;
    color: var(--color5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font3);
    font-size: 0.9em;
    animation:buttun;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.booking_buttun a:hover{
    background-color: var(--color5);
    color: var(--color2);
    box-shadow: 0 0 40px var(--color4);
    transition: 0.5s;
}

.booking_buttun {
    width: 150px;
}

#film_poster {
    /* background-color:var(--color1); */
    width: 100vw;
    /* margin-top: -300px; */
}

section {
    scroll-margin-top: 200px;
}

h3 {
    padding: 45px 15px 70px 30px;
    font-family: var(--font1);
    text-transform: uppercase;
    font-size: 2em;
    color: var(--color2);
}

.movie_presentation {
    display: flex;
    gap: 15vw;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
}

.movie_presentation img {
    width: 15vw;
    margin: 20px;
    box-shadow: 0 0 30px var(--color3);
}

.movie_presentation img:hover {
        box-shadow: 0 0 30px var(--color4);
        transition: 0.5s;
}

.movie_text {
    width: 35vw;
    padding: 0 0 0 40px;
    margin-left: 90px;
}

.movie_text h4 {
    padding-bottom: 20px;
    font-family: var(--font2);
    font-size: 1.5em;
    text-transform: uppercase;
    color: var(--color4);
}

.movie_text p {
    font-family: var(--font3);
    font-size: 0.8em;
    color: var(--color2);
    line-height: 20px;
}

hr {
    width: 80%;
    margin: auto;
    border-color: var(--color5);
}



.agenda_information {
    width: 100%;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
}

.agenda_information p {
    color: var(--color2);
    line-height: 20px;
    padding: 10px 0;
    font-family: var(--font3);
    background-color: var(--color5);
    border-right: 2px solid var(--color4);
    border-left: 2px solid var(--color4);
}

table {

    width: 100%;
    padding: 30px;
    text-align: center;
    table-layout: auto;
    color: var(--color2);
    border: none;
}

td {
    border-right: 0.2px solid var(--color3);
    font-family: var(--font3);
}

.td_picture {
    border-right: none;
}

th {
    font-family: var(--font2);
    font-size: 1.4em;
    padding: 10px;
}

.last_td {
    border-bottom: 0.2px solid var(--color3);
}

table img {
    width: 7vw;
    margin: 10px 0;
    box-shadow: 0 0 15px var(--color4);
}

table img:hover{
    box-shadow: 0 0 25px var(--color2);
    transition: 0.5s;
}

#news_section p,
#who_we_are p {
    font-family: var(--font3);
    color: var(--color2);
    padding: 10px 20px;
}

.news_infos {
    text-align: center;
    border: 2px solid var(--color5);
    width: 50%;
    margin: 3% auto;
}


/* citation */
.citation_media {
    text-align: center;
    font-style: italic;
    font-size: 1.3em;
    line-height: 25px;
}

.citation_media::before {
    content: " ❝ ";
    color: var(--color3);
    font-size: 2em;
}

.citation_media::after {
    content: " ❞ ";
    color: var(--color3);
    font-size: 2em;
}

.cinemag {
    font-size: 0.8em;
}

footer section {
    background-color: var(--color1);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    margin-top: 20px;
}


footer img {
    width: 5vw;
}

.social_media {
    display: flex;
    justify-content: space-around;
    min-width: 20vw;
    padding: 20px;
    flex-wrap: wrap;
}



.end_menu {
    text-align: center;
    margin: 0 20px;
}

.both_links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color2);
    margin-bottom: 10px;
}

.both_links a:hover{
    transition:0.5s;
    color: var(--color4);
}

.end_menu p,
.end_menu a {
    color: var(--color2);
    padding: 10px;
    font-family: var(--font3);
    text-transform: uppercase;
}

.end_menu p {
    font-size: 0.7em;
    text-transform: none;
}




@media all and (max-width:550px){
    .movie_picture img{
       box-shadow: 0 0 30px var(--color4);
    }   
    h3 {
    text-align: left;
   }
}

@media all and (max-width:800px){
      .booking_buttun a{
        width: 80px;
        text-align: left;
        animation: none;
    }
}


@media all and (max-width:700px){
    .movie_text{
        margin-left:10px;
    } 
    .booking_buttun a{
        width: 60px;
        text-align: center;
        font-size: 0.7em;
        border-radius: 10px;
        padding: 3px;
        animation: none;
    }
    .main_page{
        width: 90vw;
    }
    .movie_presentation{
        display: flex;
        flex-direction: column;
    }
    .movie_text{
        width: 60vw;
        padding: 50px 0 0 0 ;
        text-align: left;
    }
    
    .news_infos{
        width: 70%;
    }

    #who_we_are p{
        text-align: left;
    }
}


@media all and (max-width:350px){
    .main_page{
        width: 95vw;
    }
     .movie_text{
        width: 80vw;
        padding: 50px 0 0 0 ;
        text-align: left;
    }
   h3 {
    text-align: left;
   }
    
}





@keyframes buttun{
    from{
       font-size: 0.7em; 
    }
    to{
         font-size: 0.9em; 
    }
}