*,
::after,
::before{
Padding:0;
Margin:0;
Box-sizing:border-box;
text-decoration: none;
scroll-behavior:smooth;
list-style-type: none;
}

body{
    height: 100vh;
    background-color: rgb(243, 242, 242);
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 19vh 1fr auto ;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

:root{
    --color1:#0A0A0A;
    --color2:#ffffff;
    --color3:#E50914;
    --color4:#FF9900;
    --color5:#2C2C2C;
    --font1:"Poiret One", sans-serif;
    --font2:"Lato", sans-serif;
    --font3:"Nobile", sans-serif;
}

/* header */
header{
    grid-area:header;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    width: 100vw;
    gap: 5vw;
    /* pour mettre mon menu au dessus du div asso */
}

.logo_header img{
    width: 20vw; 
    height: 100%; 
}


h2{
    color: var(--color2);
    width: 25vw;
    font-family: var(--font1);
    text-transform: uppercase;    
    text-align: center;
    font-size: clamp(0.9em, 2.2vw, 2em);
}

nav{
    width:40vw;
    text-align: center;
            
}

nav a{
    color: var(--color2);
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0 1vw;
}

nav a:hover {
    color: var(--color4);
    font-size: 1.2em;
}

.contact_form_and_infos{
    grid-area: main;
    display: flex;
    align-items: center;
}


main{
    background-image: url(assets/reservation_background.png);
    background-size: cover;
    background-position: center;
    align-content: center;
        
}

.booking_info_section{
    width: 80%;
    margin:20px auto;
    padding: 10px;
    backdrop-filter: blur(15px);
    font-family: var(--font1);
    color: var(--color2);
    text-align: center;
    border-radius: 15px;
    border-top:1px solid #d5d5d5;
    border-left:1px solid #d5d5d5;
    box-shadow: 5px 5px 12px var(--color5);
    font-size: 1em;

}

.form_container{
 display: flex;
 justify-content: center;
 flex-wrap: wrap
}

.form_section{
    
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    
}

form{
    display: flex;
    flex-wrap: wrap;
    background-color:var(--color1);
    padding: 20px;
    border-bottom:1px solid var(--color2);
    border-left:1px solid var(--color2);
    border-radius: 10px;
}

.to_fill{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 20px;
}

::placeholder{
    color: var(--color2);
}
input:focus{
    color: var(--color2);
}

input{
   margin: 5px;
   height: 30px;
   background-color:var(--color1);
   border: none;
   border-bottom: 1px solid var(--color5);
   color: var(--color2);
}

label{
    color: var(--color2);
}

fieldset{
    border: 0.1px solid var(--color3);
    padding: 10px;
    min-width:30vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "first fisrts"
    "two twos"
    "three three"
    "four fours"
    "six six"
    "seven seven"
    "ten tens";
}

.firstjuly_eight{
    grid-area: fisrts;
}
.sndjuly_eight{
    grid-area: two;
}
.sndjuly_ten{
    grid-area: twos;
}
.trdjuly_eight{
    grid-area: three;
}
.frthjuly_six{
    grid-area: four;
}
.frthjuly_ten{
    grid-area: fours;
}
.sixjuly_eight{
    grid-area: six;
}
.svnjuly_six{
    grid-area: seven;
}
.tenjuly_eight{
    grid-area: ten;
}
.tenjuly{
    grid-area: tens;
}

#submit{
    width: 100px;
    background-color: var(--color3);
    border: var(--color5);
    font-family: var(--font3);
    border-radius: 15px;
    color: var(--color2);
    border-top: 2px solid var(--color2);
    transition: 150ms;
}

#submit:hover{
    background-color: var(--color4);
}


.button_div{
    margin-left: 20px;
}

footer{
    grid-area: footer;
         
}


footer section{
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

  
footer img{
    width: 5vw;
}

.social_media{
    display: flex;
    justify-content: space-around;
    min-width: 20vw;
    padding: 20px;
    flex-wrap: wrap;
} 
    
    

.end_menu{
        text-align: center;
        margin: 0 20px;
}

.both_links{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}

.both_links a:hover{
    transition:0.5s;
    color: var(--color4);
}

.end_menu p, .end_menu a{
    color: var(--color2);
    padding: 10px;
    font-family: var(--font3);
    text-transform: uppercase;
}

.end_menu p{
    font-size: 0.7em;
    text-transform: none;
   
}

@media all and (max-width:700px){
       form{
        display: flex;
        flex-direction: column
       }
       .booking_info_section{
        background-color: rgba(70, 68, 70, 0.621);
       }
       .button_div{
        display: flex;
        justify-content: center;
        padding-top: 15px;
       }
}